<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home Page</title>
</head>
<body>
    <header>
        <h2>Zenrider</h2>
        <nev>
            <a href="#">About</a>
            <a href="#">Terms & conditions</a>
        </nev>
    </header><br><br>
   <div class="search-wrapper">
  <div class="search">
    <form action="https://www.google.com/search" method="get">
      <input type="text" name="q" placeholder="Search hear..."style="width: 750px; height: 40px;">
      <button type="submit">Search</button>
  </div>
</div>
</body>
</html>
