<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login page</title>
</head>
<body>
     <div class="navbar">
        <div class="logo">
            <span>Zenrider</span>
        </div>
        <div class="nav-links">
            <a href="#">About</a>
            <a href="#">Terms & conditions</a>
        </div>
    </div>
  <h2>LOGIN</h2><br><br>

  <form action="{{ url_for('submit') }}" method="post">
    
    <label>Username</label><br>
    <input type="text" name="username" placeholder="Enter your username" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" placeholder="Enter your password" required><br><br>

    <input type="submit" value="Login">
  </form>
</body>
</html>
